.page-1-1 {
    position: relative;
    background: #89dc58;
}

.page-1-1.fade-enter {
    left: -100%;
}

.page-1-1.fade-enter.fade-enter-active {
    left: 0;
    transition: all 500ms;
}

.page-1-1.fade-exit {
    left: 0;
}

.page-1-1.fade-exit.fade-exit-active {
    left: 100%;
    transition: all 500ms;
}